@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #9ca3af;
  color: #e7e5e4;
  }

Nav {
background-color: rgba(131, 128, 137, 0.963);
color:rgb(73, 72, 75, 0.963);
}