@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(148, 147, 151, 0.963);
  color: rgba(182, 181, 183, 0.963);
  }

Nav {
background-color: rgba(125, 114, 154, 0.963);
color:rgb(73, 72, 75, 0.963);
}